<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<form name="ballerselect" novalidate>
  <input id="ballerOne" name="one" novalidate type="text" placeholder="Player 1"
    ng-model="searchText.name"
    ng-class="{'good': ((ballers|filter:searchText:case:false).length === 1) }"/>
  <img src="styles/arrow.jpeg" height="10px">
  <input id="ballerTwo" novalidate type="text" placeholder="Player 2"
    ng-model="search.name"
    ng-class="{'good2': ((ballers|filter:search:case:true).length === 1) }"/><br>
    <br>
    <br>
    <br>
  <input class=" btn btn-primary" style="background-color: #B34F2F;border-color: #B34F2F" type="submit" ng-click="callDB(searchText.name, search.name)" value="Connect!" ng-disabled="{{false}}"/>
</form>
<div class="text-center restr" ><p style="font-size: 200%; color:#fff; margin-left: 20%; width: 60%">{{dataset}}</p></div>
